[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/readerwriterqueue"]
	path = externals/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
