[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/readerwriterqueue"]
	path = externals/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/inih"]
	path = externals/inih
	url = https://github.com/benhoyt/inih
[submodule "externals/json"]
	path = externals/json
	url = git@github.com:nlohmann/json.git
